<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/semanticweb"
            factory-class="org.knime.semanticweb.nodes.query.SPARQLQueryNodeFactory"
            id="org.knime.semanticweb.nodes.query.SPARQLQueryNodeFactory">
      </node>
      <node
            category-path="/labs/semanticweb"
            factory-class="org.knime.semanticweb.nodes.connector.memory.InMemoryEndpointNodeFactory"
            id="org.knime.semanticweb.nodes.connector.memory.InMemoryEndpointNodeFactory">
      </node>
      <node
            category-path="/labs/semanticweb"
            factory-class="org.knime.semanticweb.nodes.insert.InsertRowsNodeFactory"
            id="org.knime.semanticweb.nodes.insert.InsertRowsNodeFactory">
      </node>
      <node
            category-path="/labs/semanticweb"
            factory-class="org.knime.semanticweb.nodes.loadfile.AddFileNodeFactory"
            id="org.knime.semanticweb.nodes.loadfile.AddFileNodeFactory">
      </node>
      <node
            category-path="/labs/semanticweb"
            factory-class="org.knime.semanticweb.nodes.writefile.WriteToFileNodeFactory"
            id="org.knime.semanticweb.nodes.writefile.WriteToFileNodeFactory">
      </node>
      <node
            category-path="/labs/semanticweb"
            factory-class="org.knime.semanticweb.nodes.delete.DeleteRowsNodeFactory"
            id="org.knime.semanticweb.nodes.delete.DeleteRowsNodeFactory">
      </node>
      <node
            category-path="/labs/semanticweb"
            deprecated="false"
            factory-class="org.knime.semanticweb.nodes.update.UpdateRowsNodeFactory"
            id="org.knime.semanticweb.nodes.update.UpdateRowsNodeFactory">
      </node>
      <node
            category-path="/labs/semanticweb"
            deprecated="false"
            factory-class="org.knime.semanticweb.nodes.connector.sparqlendpoint.SPARQLEndpointFactory"
            id="org.knime.semanticweb.nodes.connector.sparqlendpoint.SPARQLEndpointFactory">
      </node>
      <node
            category-path="/labs/semanticweb"
            deprecated="false"
            factory-class="org.knime.semanticweb.nodes.connector.virtuoso.VirtuosoEndpointFactory"
            id="org.knime.semanticweb.nodes.connector.virtuoso.VirtuosoEndpointFactory">
      </node>
      <node
            category-path="/labs/semanticweb"
            deprecated="false"
            factory-class="org.knime.semanticweb.nodes.listgraphs.ListGraphsNodeFactory"
            id="org.knime.semanticweb.nodes.listgraphs.ListGraphsNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Nodes to access Semanticweb"
            icon="icons/sw-cube.png"
            level-id="semanticweb"
            locked="true"
            name="Semanticweb Nodes"
            path="/labs">
      </category>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            hidden="false"
            name="org.knime.semanticweb.port"
            objectClass="org.knime.semanticweb.port.SemanticWebPortObject"
            objectSerializer="org.knime.semanticweb.port.SemanticWebPortObject$Serializer"
            specClass="org.knime.semanticweb.port.SemanticWebPortObjectSpec"
            specSerializer="org.knime.semanticweb.port.SemanticWebPortObjectSpec$Serializer">
      </portType>
   </extension>

</plugin>
